/* Flex styles -------------------------------------------------*/
header {
    display: flex;
    align-items: center;
  }
  
  @media (min-width: 700px) {
   .leading {
      display: flex;
      align-items: center;
    }
  }
  
  
  /* Grid styles -------------------------------------------------*/
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
  }
  
  
  /* Generic styles ----------------------------------------------*/
  body {
    font-family: 'Quicksand', sans-serif;
  }
  
  header {
    padding: 10px;
    font-size: 2em;
    color: white;
    background-color: #333;
  }
  
  .logo {
    height: 50px;
    margin-right: 20px;
  }
  
  .leading {
    height: 240px;
    margin-bottom: 30px;
    padding: 30px;
    color: white;
    background: url('https://media.istockphoto.com/photos/sao-paulo-skyline-from-ibirapuera-park-in-sao-paulo-brazil-picture-id802832734?k=20&m=802832734&s=612x612&w=0&h=ZriRYQoriWXjCLoAYoYNpbgMe9wTnKviA6vYwENFcw8=') center rgb(49, 47, 47) no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 0px 0px 5px #000;
  }
  
  .leading-bigtext {
    margin-right: 60px;
    font-weight: bold;
    font-size: 24vw;
  }
  
  @media (min-width: 700px) {
    .leading-bigtext {
      font-size: 140px;
    }
  }
  
  .leading-text {
    max-width: 900px;
    font-size: 1.2em;
    line-height: 1.4em;
  }
  
  .cards {
    max-width: 960px;
    margin: 0 auto 30px;
  }
  
  article {
    position: relative;
  }
  
  .article-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .article-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .footer-basic {
    padding:40px 0;
    background-color: rgba(33, 37, 41, 255);
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  